.nav-bar{
  position: sticky;
  top: 0;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  background: var(--secondary-color);
  margin: 0;
  color: var(--text-color);
  z-index: 999;
}

.routes-list{
  display: flex;
  width: 100%;
  justify-content: start;
  list-style-type: None;
  margin: 0;
  padding-left: 0;
  color: var(--text-color);
  height: 100%;
  align-items: center;
}

.route{
  height: 100%;
  border-right:1px solid var(--primary-color);
  align-items:center;
  display: flex;
  justify-content: center;
  width:100%;
}

.route-text{
  padding-left: 20px;
  padding-right: 20px;
  color: var(--text-color);
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.route-text:hover{
  color: var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
}

.route-text.active{
  color: var(--primary-color);
  border-bottom: 4px solid var(--primary-color);
}

.route-text:active{
  color: var(--primary-color);
}